.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    padding-top: 130px;
    padding-bottom: 116px;
};
.solues{
    margin-right: 110px;
    justify-content: left;
};
.bond{
    margin-right: 103px;
    justify-content: left;
}

.contact{
    justify-content: left;
    margin-right: 37px;
};
.contact-img{
    width: 191px;
    height: 63px;
    margin-bottom: 16px;
};
.contact-text{
    font-size: 16px;
    color: #4a4a4a;

};
.contact-number{
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
    margin-top: 12px;
    margin-bottom: 39px;
};
.list-title{
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 14px;
};
.adm{
    line-height: 1.75;
    margin-bottom: 33px;
};
.area{
    width: 220px;
    height: 66px;
    background-color: #7ed321;
    color: white;
    text-decoration: none;
    padding: 25px 56px;
    font-size: 14px;
    font-weight: 900;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
};

.footer-list{
    list-style: none;
    li{
        a{
            font-size: 16px;
            color: #7ed321;
            line-height: 1.75;
        }
    }
}