.head{
    background: rgb(255,255,255);
    background: linear-gradient(130deg, rgba(255,255,255,1) 40%, rgba(48,100,29,1) 40%, rgba(48,100,29,1) 82%);
};
.menu{
    display: flex;
    justify-content: space-between;
    padding: 27px 113px 61px 149px;
};
.menu-container{
    display: flex;
    list-style: none;
    padding-top: 27px;
    margin-left: 57px;
    li{
        border-radius: 5px;
        a{
            text-decoration: none;
            padding: 12px 18px;
            font-size: 18px;
            color: #ffffff;
            width: 140px;
            height: 45px;
            &:hover{
                color: #30641d;
                background-color: #88bd75;
                border-radius: 5px;
            }
        }
    }
};
#search{
    background: none;
    padding: 0px;
    &:hover{
        color: #fff;
        background: none;
        border-radius: 5px;
    }
};

.head-container{
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    padding-bottom: 84px;

};
.head-block{
    margin-left: 130px;
}
.head-form{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}
.head-title{
    font-size: 55px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 41px;
};
.head-subtitle{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
};
.head-img{
    display: inline-flex;
};
.form-select{
    width: 300px;
    height: 48px;
    border-radius: 5px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 27px;
    font-size: 14px;
    padding-left: 19px;
    option{
        background: #30641d; 
    }
};
.form-btn{
    margin-top: 14px;
    width: 173px;
    height: 65px;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    color: #30641d;
};