.solution{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 52% 50%, #ffffff, #fefefe);
    padding-top: 130px;  
    padding-bottom: 110px;
};
.title{
    text-shadow: $shadow;
    width: 601px;
    font-weight: 900;
    color: #000;
    font-size: 50px;
    text-align: center;
};
.option{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top:70px; 
    li{
        width: 340px;
        padding-left: 69px;
        &:first-child{
            padding-left: 0px;
        }
    }
};
.option-img{
    width: 340px;
    height: 190px;
    margin-bottom: 41px;
};
.option-title{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 9px;
};
.option-text{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.69;
    text-align: center;
    color: #4a4a4a;
};

.words{
    padding:130px 0px;

};
.words-container{
    display: flex;
    margin-top: 70px;
}
.words-title{
    width: auto;
    text-align: center;
};
.words-img{
    width: 611px;
    height: 535px;
    margin-right: 49px;
};
.words-text{
    width: 571px;
    font-size: 16px;
    line-height: 1.69;
    color: #4a4a4a;
    margin-bottom: 27px;
    text-align: left;

};
.btn{
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #7ed321;
    font-size: 14px;
    font-weight: 900;
    color: #ffffff;
    text-decoration: none;
    padding: 25px 78px;
    text-transform: uppercase;
};
.plublication{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(126,211,33);
    background: linear-gradient(36deg, rgba(126,211,33,1) 19%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 80%, rgba(126,211,33,1) 80%);
};
.plublication-title{
    margin-bottom: 70px;
};